apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: nsready-tier2
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s
      evaluation_interval: 5s
    scrape_configs:
      - job_name: prometheus
        static_configs:
          - targets:
              - localhost:9090
      - job_name: collector-service
        metrics_path: /metrics
        static_configs:
          - targets:
              - collector-service:8001

